*
    @include init

body
    font-family: 'Lato'
header
    background-color: $bg-hdr
    .menu
        ul
            margin: 0

main
    .bgblue
        background-color: $bg-blue
        font-family: 'Hind'
        height: 60vh
        button
            @include btn-p

footer
    height: 8vh
    p
        margin: 0