*
    @include init

body
    font-family: 'Lato'
header
        background-color: $bg-hdr
        height: 10vh
        padding: 0 35vh

main
    .bgblue
        background-color: $bg-blue
        font-family: 'Hind'
        height: 60vh
        h1
            font-size: 4rem
        button
            @include btn-p
    .cards
        width: 60%
        margin : 10vh auto
        .cards-l
            gap: 10vh
            margin: 10vh 0
            h3
                @include cards-titre
            .cards-img
                img
                    width: 300px

footer
    height: 10vh

